<!-- Author: Jack Napoleone -->
<!-- View for the about page -->

<!-- Referenced bootstrap docs to learn this -->
<div
	id="carouselTop"
	class="carousel row"
>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img
				src="/images/gosman-exterior.jpg"
				class="d-block w-100"
				alt="Exterior view of Gosman Sports Center"
			/>
		</div>
		<div class="carousel-item">
			<img
				src="/images/tennis.jpg"
				class="d-block w-100"
				alt="View of the tennis courts"
			/>
		</div>
		<div class="carousel-item">
			<img
				src="/images/baseball.jpg"
				class="d-block w-100"
				alt="View of the baseball courts"
			/>
		</div>
	</div>
	<button
		class="carousel-control-prev"
		type="button"
		data-bs-target="#carouselTop"
		data-bs-slide="prev"
	>
		<span
			class="carousel-control-prev-icon"
			aria-hidden="true"
		></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button
		class="carousel-control-next"
		type="button"
		data-bs-target="#carouselTop"
		data-bs-slide="next"
	>
		<span
			class="carousel-control-next-icon"
			aria-hidden="true"
		></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

<br />
<h1 class="text-center">About Brandeis University Athletics</h1>
<br />
<h3 class="text-center">Mission Statement</h3>
<p>
	The Brandeis Department of Athletics, Physical Education, and Recreation
	enriches the current and future lives of our community through sport, fitness
	and wellness offerings. We achieve our mission by:
</p>
<ul>
	<li>
		Providing opportunities for students to seek competitive excellence
		utilizing the values of discipline, leadership, resilience and respect
	</li>
	<li>
		Encouraging students to explore interests and habits leading to the
		development of an appreciation of lifelong health and fitness
	</li>
	<li>
		Complementing the educational mission of the University by emphasizing the
		development of a well-balanced lifestyle
	</li>
	<li>
		Developing an inclusive community in which all can learn, play and compete
	</li>
</ul>
<br />
<h3 class="text-center">Athletics Overview</h3>
<p>
	Brandeis fields 19 Division III varsity athletic programs. The Judges compete
	in the University Athletic Association (UAA), comprising Carnegie Mellon
	University, Case Western Reserve University, Emory University, New York
	University, the University of Chicago, the University of Rochester and
	Washington University (St. Louis). UAA teams are among the most successful
	athletic programs in the nation, giving Brandeis athletes a chance to prove
	themselves against the best Division III has to offer.
	<br /><br />
	Through participation in varsity athletics at Brandeis, student-athletes
	should develop skills to work effectively as part of a team, improve
	individual skills and overall performance, learn to communicate effectively
	with diverse populations, develop leadership skills, and demonstrate and
	understand sportsmanship and fairness.
	<br /><br />
	Over the years, Brandeis has won NCAA team championships in men's soccer
	(1976) and men's cross country (1983), as well as 27 individual titles. Since
	2011, Brandeis has produced 67 All-Americans. In 2021-22, Erin Magill '22,
	earned three All-America honors in cross country and track and field, while
	Tony Escueta '25 and Maggie Shealy '23 were named the national Division III
	Sabre Fencers of the Year in 2022. Brandeis teams have claimed 19 NCAA
	Tournament berths and had seven different programs earn national rankings,
	including five during the 2021-22 season. Three teams have made NCAA Final
	Four appearances in that span and one other reach the Elite Eight. Three
	Brandeis coaches have been named National Coach of the Year and six have
	earned UAA Coaching Staff of the Year honors.
	<br /><br />
	Among Brandeis's top student-athlete alumni are Nelson Figueroa '98, the
	program's first major league baseball player, who played for nine years in
	Major League Baseball and pitched for runner-up Puerto Rico in the 2013 World
	Baseball Classic, and three-time Olympic fencer Tim Morehouse '00, the
	University's first Olympic qualifier in Athens in 2004 and first medalist,
	winning a team silver in the saber in Beijing in 2008. The Judges' have also
	boasted legendary coaches from Bud Collins of the tennis team to former Boston
	Celtics K.C. Jones, Bob Brannum and Chris Ford with the basketball team.
</p>
<br />
<div class="row">
	<div class="col-6">
		<h3 class="text-center">Quick Facts</h3>
		<p>
			Location: Gosman Center, Waltham, MA 02454-9110 <br />
			Nickname: Judges
			<br />
			Colors: Blue and White
			<br />
			Affiliation: NCAA Division III
			<br />
			Conference: University Athletic Association
		</p>
	</div>
	<div class="col-6">
		<h3 class="text-center">Personell</h3>
		<p>
			Director of Athletics: Lauren Haynie
			<br />
			Senior Associate Director of Athletics: Tom Rand
			<br />
			Associate Director of Athletics/SWA: Lynne Dempsey
			<br />
			Associate Director of Athletics: Michelle Kim
			<br />
			Assistant Director of Athletics: Andrew Vatistas
			<br />
			Assistant Director of Athletics: Michael Matt
			<br />
			Sports Information Director: Adam Levin '94
			<br />
			Head Athletic Trainer: Lisa DeNicola
		</p>
	</div>
</div>
