<!-- Author: Jack Napoleone -->
<!-- View for the facilites page -->

<h1 class="text-center">Facilities</h1>
<br />
<div class="row align-items-center">
	<div class="col-md-8">
		<h2 class="text-center">Gosman Sports Center</h2>
		<p class="text-center">
			Opened in January of 1992, the Gosman Sports and Convocation Center is one
			of the largest multipurpose, indoor athletic facilities of its kind in New
			England at 70,000 feet. It is part of the Joseph F. and Clara Ford
			Athletic and Recreation Complex, which includes the renovated Abraham
			Shapiro Athletic Center and the recently renovated Joseph M. Linsey
			Center. <br />
			<br />
			The hours for the Gosman Sports Center in Fall 2023 are as follows: <br />
			Monday - Thursday: 7am-11pm <br />
			Friday: 7am-8pm <br />
			Saturday: 10am-8pm <br />
			Sunday: 10am-10pm
		</p>
	</div>
	<div class="col-md-4">
		<img
			src="/images/gosman-exterior.jpg"
			class="img-thumbnail"
			alt="Exterior view of Gosman Sports Center"
		/>
	</div>
	<br /><br /><br />
</div>
<div>
	<h2 class="text-center">Red Auerbach Arena</h2>
	<p class="text-center">
		The Red Auerbach Arena in Gosman Sports Center, seats approximately 2,500
		for basketball and volleyball, and also has a 200-meter six-lane running
		track.
	</p>
	<img
		src="/images/basketball.jpg"
		class="img-thumbnail"
		alt="View of the Red Auerbach Arena"
	/>
	<br /><br /><br />
</div>

<div>
	<h2 class="text-center">Cordish Tennis Center</h2>
	<p class="text-center">
		The Cordish Tennis Center is a home to all those who play tennis at
		Brandeis.
	</p>
	<div class="row align-items-center">
		<div class="col-md-6">
			<img
				src="/images/tennis2.jpg"
				class="img-thumbnail"
				alt="View of the Cordish Tennis Center"
			/>
		</div>
		<div class="col-md-6">
			<img
				src="/images/tennis.jpg"
				class="img-thumbnail"
				alt="View of the Cordish Tennis Center"
			/>
		</div>
	</div>
	<br /><br /><br />
</div>

<div>
	<h2 class="text-center">Marcus Field</h2>
	<p class="text-center">
		The Marcus Field is home to the Brandeis Baseball team.
	</p>
	<div class="row align-items-center">
		<div class="col-md-6">
			<img
				src="/images/baseball.jpg"
				class="img-thumbnail"
				alt="View of the Marcus Field"
			/>
		</div>
		<div class="col-md-6">
			<img
				src="/images/baseball2.jpg"
				class="img-thumbnail"
				alt="View of the Marcus Field"
			/>
		</div>
	</div>
	<br /><br /><br />
</div>

<div>
	<h2 class="text-center">Gordon Field and Outdoor Track</h2>
	<p class="text-center">
		The Brandeis teams who utilize the Gordon Field and Outdoor Track include
		soccer, track and field, rugby, and many more.
	</p>
	<div class="row align-items-center">
		<div class="col-md-6">
			<img
				src="/images/field2.jpg"
				class="img-thumbnail"
				alt="View of the field"
			/>
		</div>
		<div class="col-md-6">
			<img
				src="/images/field.jpg"
				class="img-thumbnail"
				alt="View of the field"
			/>
		</div>
	</div>
	<br /><br /><br />
</div>

<div>
	<h2 class="text-center">Locker Rooms</h2>
	<p class="text-center">
		The Gosman Sports Center houses locker rooms for many of Brandeis' teams.
		These include men's soccer, women's soccer, women's cross country and track
		and field, and men's basketball.
	</p>
	<div class="row align-items-center">
		<div class="col-md-6">
			<img
				src="/images/locker.jpg"
				class="img-thumbnail"
				alt="View of a locker room"
			/>
		</div>
		<div class="col-md-6">
			<img
				src="/images/locker2.jpg"
				class="img-thumbnail"
				alt="View of a locker room"
			/>
		</div>
	</div>
	<br /><br /><br />
</div>

<div>
	<h2 class="text-center">Linsey Pool</h2>
	<p class="text-center">
		The Linsey Pool is home to Brandeis Swimming and Diving.
	</p>
	<div class="row align-items-center">
		<div class="col-md-6">
			<img
				src="/images/pool2.jpg"
				class="img-thumbnail"
				alt="View of the Linsey Pool"
			/>
		</div>
		<div class="col-md-6">
			<img
				src="/images/pool.jpg"
				class="img-thumbnail"
				alt="View of the Linsey Pool"
			/>
		</div>
	</div>
	<br /><br /><br />
</div>

<div>
	<h2 class="text-center">Other Facilities</h2>
	<p class="text-center">
		The Gosman Sports Center also has a number of other facilities including a
		number of treadmills (pictured left) and a weight room (pictured right).
	</p>
	<div class="row align-items-center">
		<div class="col-md-6">
			<img
				src="/images/treadmill.jpg"
				class="img-thumbnail"
				alt="View of the treadmills"
			/>
		</div>
		<div class="col-md-6">
			<img
				src="/images/weights.jpg"
				class="img-thumbnail"
				alt="View of the weight room"
			/>
		</div>
	</div>
	<br /><br /><br />
</div>
