<!-- Author: Jack Napoleone -->
<!-- View for the home page -->

<h1 class="text-center">Home</h1>
<div class="row align-items-center">
	<div class="col-md-6">
		<h2 class="text-center">Brandeis University Athletics</h2>
		<br />
		<p>
			Brandeis University and the Gosmon Sports Center are on South Street in
			Waltham Massachusetts.
			<br /><br />
			The 70,000-square-foot Gosman Sports Center houses the Red Auerbach Arena,
			seating approximately 2,500 for basketball and volleyball, as well as a
			200-meter six-lane running track, seven squash courts, three multipurpose
			rooms, two weight rooms, a trophy room, concession area and department
			offices.
			<br /><br />
			Brandeis University is a member of the National Collegiate Athletic
			Association (Division III) and competes in 19 intercollegiate sports
			through the University Athletic Association. Many of these teams are
			listed below.
			<br /><br />
		</p>
	</div>

	<!-- Referenced bootstrap docs to learn this -->
	<div
		id="carouselTop"
		class="carousel row col-md-6"
	>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img
					src="/images/gosman-exterior.jpg"
					class="d-block w-100"
					alt="Exterior view of Gosman Sports Center"
				/>
			</div>
			<div class="carousel-item">
				<img
					src="/images/basketball.jpg"
					class="d-block w-100"
					alt="View of the tennis courts"
				/>
			</div>
			<div class="carousel-item">
				<img
					src="/images/pool2.jpg"
					class="img-thumbnail"
					alt="View of the Linsey Pool"
				/>
			</div>
			<div class="carousel-item">
				<img
					src="/images/trophy.jpg"
					class="d-block w-100"
					alt="View of the trophy room"
				/>
			</div>
		</div>
		<button
			class="carousel-control-prev"
			type="button"
			data-bs-target="#carouselTop"
			data-bs-slide="prev"
		>
			<span
				class="carousel-control-prev-icon"
				aria-hidden="true"
			></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button
			class="carousel-control-next"
			type="button"
			data-bs-target="#carouselTop"
			data-bs-slide="next"
		>
			<span
				class="carousel-control-next-icon"
				aria-hidden="true"
			></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
<div>
	<br />
	<h2 class="text-center">Teams at Brandeis University</h2>
	<div class="row">
		<div class="col-md-4">
			<h3 class="text-center">Women's Only</h3>
			<p class="text-center">
				Softball <br />
				Volleyball
			</p>
		</div>
		<div class="col-md-4">
			<h3 class="text-center">Women and Men's</h3>
			<div class="row">
				<div class="col-md-6">
					<p class="text-center">
						Basketball <br />Fencing <br />
						Outdoor Track and Field <br />
						Tennis
					</p>
				</div>
				<div class="col-md-6">
					<p class="text-center">
						Cross Country <br />
						Soccer <br />
						Indoor Track and Field <br />Swimming and Diving
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<h3 class="text-center">Men's Only</h3>
			<p class="text-center">Baseball</p>
		</div>
	</div>
</div>
